DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/liferpg?retryWrites=true&w=majority"
JWT_SECRET="dev-access-super-secret-key-32-chars-min"
JWT_REFRESH_SECRET="dev-refresh-super-secret-key-32-chars-min"
MISTRAL_API_KEY=""
ANTHROPIC_API_KEY=""
PORT=5000
NODE_ENV="development"
